/* whole document rules */

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* header */

.header {
    display: flex;
    padding: 0 20px;
}

.resetButton {
    padding: 0 30px;
    margin: 10px 25px;
    font-size: 20px;
}

/* tiles */

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tile {
    background-color: #EFEFEF;
    padding: 30px;
    border: 1px solid rgb(212, 212, 212);
}

/* .tileSection {
    background-color: red;
    padding: 20px;
    border: 2px solid black;
} */