/* whole document rules */

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* header */

.header {
    display: flex;
    padding: 0 20px;
}

button {
    padding: 0 30px;
    margin: 10px 0 10px 25px;
    font-size: 24px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#JS {
    color: #323330;
    background-color: #F0DB4F;
    padding: 15px 2px 2px 15px;
}

/* tiles */

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tile {
    background-color: #EFEFEF;
    padding: 30px;
    border: 1px solid rgb(212, 212, 212);
}